! special
*.foreground:   #4e4b42
*.background:   #cdc8b0
*.cursorColor:  #4e4b42

! black
*.color0:       #5f5b50
*.color8:       #94917f

! red
*.color1:       #cd664d
*.color9:       #ba9a81

! green
*.color2:       #439966
*.color10:      #6a956a

! yellow
*.color3:       #999373
*.color11:      #a09b7f

! blue
*.color4:       #547da5
*.color12:      #6b88a5

! magenta
*.color5:       #a479ae
*.color13:      #a994af

! cyan
*.color6:       #21a399
*.color14:      #63a8a1

! white
*.color7:       #d3cfb2
*.color15:      #dad4bb

*VT100.Translations: #override \n\
     Meta <Key>/:dabbrev-expand() \n\
     Shift Ctrl <Key>V:insert-selection(CLIPBOARD) \n\
     Shift Ctrl <Key>V:insert-selection(PRIMARY) \n\

xterm*ScrollBar: false
*.font: -misc-fixed-medium-r-semicondensed-*-13-*-*-*-*-*-*-*
*altIsNotMeta: true
*altSendsEscape: true
*metaSendsEscape: true
*boldMode: true
*curses: true
*cutToBeginningOfLine: false
*allowWindowOps: true
*selectToClipboard: true
