! special
*.foreground:   #fafafa
*.background:   #172634
*.cursorColor:  #ededed

! black
*.color0:       #576c7f
*.color8:       #798ea3

! red
*.color1:       #ee6254
*.color9:       #fc7b6e

! green
*.color2:       #50da8b
*.color10:      #65f6a2

! yellow
*.color3:       #fdb94d
*.color11:      #fdd840

! blue
*.color4:       #63b1e5
*.color12:      #62bcf9

! magenta
*.color5:       #c781e5
*.color13:      #d49deb

! cyan
*.color6:       #53dec3
*.color14:      #57edcf

! white
*.color7:       #b8bbbb
*.color15:      #dbe0e0

*VT100.Translations: #override \n\
     Meta <Key>/:dabbrev-expand() \n\
     Shift Ctrl <Key>V:insert-selection(CLIPBOARD) \n\
     Shift Ctrl <Key>V:insert-selection(PRIMARY) \n\

xterm*ScrollBar: false
*.font: -misc-fixed-medium-r-semicondensed-*-13-*-*-*-*-*-*-*
*altIsNotMeta: true
*altSendsEscape: true
*metaSendsEscape: true
*boldMode: true
*curses: true
*cutToBeginningOfLine: false
*allowWindowOps: true
*selectToClipboard: true
